<div class="container">
  <h3>Employee Form</h3>
  <form #employeeForm="ngForm" (submit)="submitForm(employeeForm)" novalidate>
    <div class="form-group">
      <label for="firstNameId">First Name</label>
      <!-- <input class="form-control" type="text" name="firstName" id="firstNameId"
        [ngModel]="model.firstNane" (ngModelChange)="firstNameToUpperCase($event)" required placeholder="First Name"> -->
      <input class="form-control" #firstNameVar="ngModel" type="text" name="firstName" id="firstNameId"
        [(ngModel)]="model.firstName" required placeholder="First Name">
      <div *ngIf="firstNameVar.invalid && firstNameVar.touched" style="background-color: #ffbbbb; color: #ff5555;">
        First Name is required.
         <!-- and must be at least 3 character. -->
      </div>
    </div>
    <div class="form-group">
      <label for="lastNameId">Last Name</label>
      <input class="form-control" #lastNameVar="ngModel" type="text" name="lastName" id="lastNameId" [(ngModel)]="model.lastName" required placeholder="Last Name">
      <div *ngIf="lastNameVar.invalid && lastNameVar.touched" style="background-color: #ffbbbb; color: #ff5555;">
        Last Name is required.
         <!-- and must be at least 3 character. -->
      </div>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="is-full-time" [(ngModel)]="model.isFullTime"> Full Time Employee
      </label>
    </div>

    <label>Payment Time</label>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="model.paymentType" id="exampleRadios1" value="w2" checked> W2
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="model.paymentType" id="exampleRadios2" value="1099"> 1099
      </label>
    </div>

    <div class="form-group">
      <label for="languagesId">Example select</label>
      <select class="form-control" name="primaryLanguage" [(ngModel)]="model.primaryLanguage" id="languagesId">
        <option *ngFor="let lang of languages">{{lang}}</option>
      </select>
    </div>

<!--     <div class="form-group">
      <label for="dateId">Date Hired</label>
      <input class="form-control" type="date" name="date" id="dateId" ngModel required>
    </div>

    <div class="form-group">
        <label for="colorId">Color</label>
        <input class="form-control" type="color" name="color" id="colorId" ngModel required>
      </div> -->

    <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Ok</button>
  </form>
  Model: {{model | json}}
  <br>
  Anguar: {{employeeForm.value | json}}
</div>
