<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">AI Dnepr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/instructors']" routerLinkActive="active">Instructors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/feedbacks']" routerLinkActive="active">Feedbacks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/instructors/new']" routerLinkActive="active">Add Instructor</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
      </ul>

    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
