<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/welcome']">AI Dnepr</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/instructors']" routerLinkActive="active" title="Instructors">
          Instructors
          <!-- <i class="fa fa-users fa-lg" aria-hidden="true"></i> -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/feedbacks']" routerLinkActive="active" title="Feedbacks">
          Feedbacks
          <!-- <i class="fa fa-commenting-o fa-lg" aria-hidden="true"></i> -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/instructors/new/edit']" routerLinkActive="active" title="Add Instructors">
          Add Instructor
          <!-- <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> -->
        </a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!(authService.authenticated$ | async)">
        <a class="nav-link" routerLink="/login">Sign in</a>
      </li>
      <li class="nav-item" *ngIf="(authService.authenticated$ | async)">
        <a class="nav-link" (click)="authService.signOut()">Sign out</a>
      </li>
      <li class="nav-item" *ngIf="!(authService.user$ | async)?.uid">
        <a class="nav-link" (click)="authService.login()">Login</a>
      </li>
      <li class="nav-item" *ngIf="(authService.user$ | async)?.uid">
        <a class="nav-link" (click)="authService.logout()">{{(authService.user$ | async)?.displayName}} Logout</a>
      </li>
    </ul>

  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
