<div class="card mb-3">
  <form action="">

    <div class="form-group">
      <button type="button" class="btn btn-primary" [class.btn-primary]="onOffSwitch == 'On'" name="omOffSwitch" [(ngModel)]="onOffSwitch" btnCheckbox btnCheckboxTrue="On" btnCheckboxFalse="Off">
        {{onOffSwitch}}
      </button>
      <pre class="card card-block card-header">{{onOffSwitch}}</pre>
    </div>
    <div class="form-group">
      <timepicker name="startTime" [(ngModel)]="startTime" [minuteStep]="15"></timepicker>
      <pre class="alert alert-info">Time is: {{startTime}}</pre>
    </div>
    <!--     <div class="form-group" style="display: inline-block;">
      <datepicker name="startDate" [(ngModel)]="startDate"
      [showWeeks]="false"
      [minDate]="minDate">
      </datepicker>
    </div> -->
  </form>
  <div>
    {{startDate | date: 'fullDate'}}
  </div>
</div>


<div class="card mb-3" *ngIf="instructor$ | async as instructor">
  <div class="card-header text-white bg-primary">{{pageTitle + ': ' + instructor?.instructorName}}</div>

  <div class="card-body">
    <form class="" novalidate (ngSubmit)="saveInstructor2in1(instructor)" #instructorForm="ngForm">
      <!-- <form class="" novalidate (ngSubmit)="save(instructorForm)" #instructorForm="ngForm"> -->
      <fieldset>
        <div class="form-group row" [ngClass]="{'was-validated': instructorNameVar.touched && !instructorNameVar.valid }">
          <label class="col-md-2 control-label" for="instructorNameId">Instructor Name:</label>
          <div class="col-md-8">
            <input class="form-control" id="instructorNameId" type="text" placeholder="Instructor Name (required)" required pattern="...+"
              [(ngModel)]="instructor.instructorName" name="instructorName" #instructorNameVar="ngModel" />
            <div class="alert alert-warning " role="alert" *ngIf="instructorNameVar.touched && instructorNameVar.errors">
              <span *ngIf="instructorNameVar?.errors.required">
                Please enter instructor name.
              </span>
              <span *ngIf="instructorNameVar?.errors.pattern">
                The name must be longer than 3 characters.
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'was-validated': carVar.touched && !carVar.valid }">
          <label class="col-md-2 control-label" for="carId">Instructor Car:</label>
          <div class="col-md-8">
            <input class="form-control" id="carId" type="text" placeholder="Instructor Car (required)" required pattern="...+" [(ngModel)]="instructor.car"
              name="car" #carVar="ngModel" />
            <div class="alert alert-warning " role="alert" *ngIf="carVar.touched && carVar.errors">
              <span *ngIf="carVar?.errors.required">
                Please enter instructor car.
              </span>
              <span *ngIf="carVar?.errors.pattern">
                The car must be longer than 3 characters.
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 control-label" for="gearboxId">Gearbox:</label>
          <div class="col-md-8">
            <select class="form-control" id="gearboxId" [(ngModel)]="instructor.gearbox" name="gearbox" #gearboxVar="ngModel" (blur)="validateGearbox(gearboxVar.value)"
              (change)="validateGearbox(gearboxVar.value)">
              <!-- <option default value="default">Select a gearbox...</option> -->
              <option value="механика">механика</option>
              <option value="автомат">автомат</option>
            </select>
            <div class="alert alert-warning " role="alert" *ngIf="hasGearboxError">
              <span>Please select a gearbox.</span>
            </div>
          </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!instructorForm.valid || !instructorForm.value.gearbox">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
        </button>

      </fieldset>
    </form>

    <div>
      Dirty: {{ instructorForm.pristine }} --- Dirty: {{ instructorForm.dirty }}
      <br> Touched: {{ instructorForm.touched }} --- Untouched: {{ instructorForm.untouched }}
      <br> Valid: {{ instructorForm.valid }} --- Invalid: {{ instructorForm.invalid }}
      <br> hasGearboxError: {{hasGearboxError}}
      <br> Value: {{ instructorForm.value | json }}
    </div>

  </div>

  <div class="card-footer">
    <button class="btn btn-default" (click)="onBack()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Cancel
    </button>
    <button class="btn btn-danger" (click)="deleteInstructor(instructor)" [disabled]="!instructor?.key">
      <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
    </button>
  </div>

</div>
