/* You can add global styles to this file, and also import other style files */
nav.navbar {
  margin-bottom: 5px;
}
/* Fade Transition - fade in every div element within application */
/* ai-root div {
  animation-duration: .9s;
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  transition: transform .9s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* Slide Transition - slide in div.card */
/* ai-root div.card {
  animation-duration: .9s;
  animation-name: slideIn;
  animation-fill-mode: forwards;
  transition: transfom .9s ease;
}

@keyframes slideIn {
  from {
    transform: translate(-200px);
  }
  to {
    transfrom: translate(0px);
  }
} */

/* FadeAndSlide Transition - slide in div.card */
ai-root div.card {
  animation-duration: .5s;
  opacity: 0;
  animation-name: fadeAndSlideIn;
  animation-fill-mode: forwards;
  transition: transfom .5s ease;
}

@keyframes fadeAndSlideIn {
  from {
    opacity: 0;
    transform: translate(-200px);
  }
  to {
    opacity: 1;
    transfrom: translate(0px);
  }
}

/* Spinner */
i.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}
