<div class="card mb-3">

  <div class="card-header text-center text-white bg-primary">Welcome to {{pageTitle}}</div>

  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>


  </div>

  <div class="card-footer">
    <div class="text-center">Developed by: yuzub 2017
      <!-- <a href="https://www.linkedin.com/in/yuriy-zubaha-6ba921130/">linkedIn</a> -->
    </div>
  </div>

</div>
